*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  font-family: 'Overpass', sans-serif;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.t-principal{
  margin-bottom: 60px;
  color: #67a84f;;
}