.card{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 20px 30px rgba(0,0,0 .4);
    transform-style: preserve-3d;
    transition: 1s;
    transform: perspective(1000px);
}

.card:hover{
    transform: translateX(50%);
}

.card .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transform-origin: left;
    box-shadow: 0 20px 30px rgba(0,0,0 .4);
    z-index: 10;
    transition: 1s;
}

.card:hover .imgBox {
    transform: rotateY(-180deg);
}

.imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.imgBox img:nth-child(2){
    transform: rotateY(-180deg);
}


.detalle{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.titulo{
    font-size: 30px;
    text-align: center;
    color: #67a84f;
}

.parrafo{
    font-size: 23px;
    color: #67a84f;
}